<?php
$name = array('博客园(cnblog)', '开源中国(osc)');
?><div class="wrap">
    <h2>导入<?php echo $name[$this->type - 1]; ?>数据倒入当前WordPress中</h2>
    <?php
    $updates = get_plugin_updates();
    $basename = plugin_basename(__FILE__);
    if ( isset( $updates[$basename] ) ) 
    {
        $update = $updates[$basename];
    ?>
    <div class="error">
        <p>
            <strong><?php printf( __( 'A new version of this importer is available. Please update to version %s to ensure compatibility with newer export files.', 'wordpress-importer' ), $update->update->new_version ); ?></strong>
        </p>
    </div>
    <?php } ?>
    