    <?php $j = 3; ?>
    <div class="narrow">
        <?php 
        $data = $this->val[Cnblog2wp::$type];
        echo $data['description'] ? "<p>{$data['description']}</p>" : ''; 
        ?>
        <p>请根据下面提示，按照步骤导入数据文件：</p>
		<div class="step">
			<h3>1.指定作者</h3>
			<p>请选择导入的文章归属作者为：</p>
			<div style="margin-left:18px">
				<?php 
				$create_users = $this->allow_create_users(); 
				if ($create_users) {
				?>
				<input type="radio" value="1" name="selet_author" />
				创建一位新用户，登录名为： <input type="text" name="user_new" value="" /><br />
				<?php } ?>
                
				<input type="radio" value="2" name="selet_author" checked="checked" />
				将日志分配给现有用户：
				<?php wp_dropdown_users(array('name' => 'user_map', 'multi' => true, 'hide_empty' => false)); ?>
				<p>如果在 WordPress 中创建一个新用户，会随机生成一个用户密码并将权限设置为 subscriber。如果必要的话，请手动更改用户信息。</p>
			</div>
		</div>
    
		<div class="step">
			<h3>2.指定分类</h3>
			<p>请选择导入的文章归属分类为：</p>
			<div style="margin-left:18px">
				<p>
					<input type="radio" value="1" name="selet_category" />
					创建一个新分类，分类名称为： <input type="text" name="category_new" value="" />
				</p>
				<p>
					<?php printf('<input type="radio" value="2" name="selet_category"%s />', !$data['category'] ? ' checked="checked"' : ''); ?>
					将日志分配给现有用户：
					<?php wp_dropdown_categories(array('name' => 'category_map', 'hide_empty' => false)); ?>
				</p>
				<?php if ($data['category']) { ?>
				<p>
					<input type="radio" value="3" name="selet_category" checked="checked" /> 
					保持文章分类不变（若文章没有分类，将归属于当前博客“默认分类”）
				</p>
				<?php } ?>
			</div>
		</div>

		<?php if ($this->allow_fetch_attachments()) { ?>
		<div class="step">
			<h3><?php echo $j++; ?>.导入附件</h3>
			<p>
				<input type="checkbox" value="1" name="fetch_attachments" id="import-attachments" />
				<label for="import-attachments">下载并导入所有文章中的附件</label>
			</p>
		</div>
		<?php } ?>

		<?php $j = apply_filters('remote_file', $j); ?>
		<div class="step">
			<h3><?php echo $j; ?>.上传并导入数据文件</h3>
			<?php wp_import_upload_form('admin.php?import=cn_blog&amp;type='.$data['slug'].'&amp;step=1'); ?>
		</div>
	</div>
	<?php include 'help.htm'; ?>
	<hr class="import-hr" />
	<p>根据你导入的数据文件大小，导入文章数据至wordpress需要一定的时间，请耐心等待</p>
</div>